<?xml version="1.0"?>
<launch>
  <!-- Run MTC pick and place -->
  <node name="mtc_tutorial" pkg="lynxmotion_al5d_pick_place" type="pick_place_demo" output="screen">
    <param name="execute" value="true" />
    <rosparam command="load" file="$(find lynxmotion_al5d_pick_place)/config/al5d_config.yaml" />
  </node>
</launch>
